html {
    height: 100%;
}
body {
    height: 100%;
    overflow: hidden;
    background-color: grey;
    position: relative;
    font-family: monospace;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.terminal {
    width: 900px;
    height: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* min-width: 400px; */
    min-width: 100%;
    min-height: 200px;
}
.terminal::before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}
.terminal::after {
    content: '';
    position: absolute;
    right: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}
.terminal.full-window {
    width: 100% !important;
    height: 100% !important;
    transform: none;
    left: 0 !important;
    top: 0 !important;
}
.terminal.hide {
    display: none;
}
.resize-top {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    cursor: row-resize;
    top: -4px;
}
.resize-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    cursor: row-resize;
    bottom: -4px;
}
.bar {
    text-align: center;
    width: 100%;
    height: 25px;
    background-color: #363538;
    border-color: #5f656f;
    position: relative;
    border-radius: 10px 10px 0 0;
    border-top: 1px solid #5f646e;
    border-left: 1px solid #5f646e;
    border-right: 1px solid #5f646e;
    border-bottom: 1px solid #1f252f;
    cursor: pointer;
}
.buttons {
    margin-left: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    grid-gap: 7px;
}
.button {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: relative;
}
.button.red {
    background-color: #fe5f56;
}
.button.red:hover .dot {
    display: block;
}
.dot {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #1f252f;
    border-radius: 50%;
}
.button.yellow {
    background-color: #fdbd2a;
}
.button.yellow:hover .dash {
    display: block;
}
.dash {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 1px;
    background-color: #1f252f;
}
.button.green {
    background-color: #22ca3e;
}
.button.green:hover .triangle1,
.button.green:hover .triangle2,
.button.green.full-window:hover .triangle1,
.button.green.full-window:hover .triangle2 {
    display: block;
}
.triangle1 {
    display: none;
    position: absolute;
    left: 30%;
    top: 30%;
    width: 5px;
    height: 5px;
    background-color: #1f252f;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}
.triangle2 {
    display: none;
    position: absolute;
    left: 35%;
    top: 35%;
    width: 5px;
    height: 5px;
    background-color: #1f252f;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}
.button.green.full-window .triangle1 {
    display: none;
    position: absolute;
    left: 15%;
    top: 15%;
    transform: rotate(180deg);
    width: 5px;
    height: 5px;
    background-color: #1f252f;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}
.button.green.full-window .triangle2 {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(180deg);
    width: 5px;
    height: 5px;
    background-color: #1f252f;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}
.info {
    color: #fff;
}
.screen {
    background-color: #2a313e;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #1f252f;
    border-left: 1px solid #5f646e;
    border-right: 1px solid #5f646e;
    border-bottom: 1px solid #5f646e;
    overflow: auto;
}
.screen::-webkit-scrollbar {
    width: 5px;
}

.screen::-webkit-scrollbar-track {
    background: #2a313e;
}

.screen::-webkit-scrollbar-thumb {
    background: #9999;
    border-radius: 10px;
}

.screen::-webkit-scrollbar-thumb:hover {
    background: #999;
}
.line {
    color: #fff;
    font-size: 15px;
    display: flex;
    position: relative;
    max-width: 100%;
    grid-gap: 5px;
    padding-left: 6px;
    margin-bottom: 4px;
}
.line:first-child {
    margin-top: 6px;
}
.cursor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    border: 4px solid #fff;
}
.command {
    width: auto;
    max-width: 100%;
}
.command:focus {
    outline: none;
    caret-color: transparent;
}
.app-bar {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #000;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 25%);
    cursor: pointer;
}
.app-bar.hide {
    display: none;
}
.app-bar .icon {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
}

.command-404 {
    color: #fff;
    padding-left: 6px;
}

.screen .header {
    color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 10px;
}

.screen .header .title {
    font-size: 25px;
    text-align: center;
}

.screen .header .description {
    text-align: center;
}

.screen .menu {
    color: #fff;
    padding-left: 6px;
    padding-right: 6px;
}

.screen .menu .sub-title {
    font-size: 17px;
    text-align: center;
}

.screen .menu .sub-title:not(.first-element) {
    margin-top: 10px;
}

.screen .menu .item {
    display: flex;
    justify-content: space-between;
}

.screen .menu .item hr {
    flex-grow: 0.97;
    border-top: none;
    position: relative;
    bottom: -2px;
    border-bottom: 1px dotted #8c8b8b;
}